page-home {
  .bg{
    background: url("../../assets/imgs/airplane.jpg") no-repeat;
    background-size: cover;
  }
  ion-col div{
    background-color: #f0f5ff;
    border: 1px solid #e6e9ef;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  ion-col h3{
    border: solid #e6e9ee;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  .cardStyle{
    background-color: #fff;
  }
}
