// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg {
  background: url("../assets/imgs/airplane.jpg") no-repeat;
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  background: #FC664E linear-gradient(360deg, #4E5EFC  ,#4EE7FC);
}
.scroll-content {
  align-content: center;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

ion-card.card {
  box-shadow: none;
  background: rgba(232, 230, 230, 0.6px);
  border-radius: 10px;
  z-index: 100;
}

.item {
  background: rgba(232, 230, 230, 0px);
  border: medium none;
}
ion-input {
  border-bottom: #FD4D73 solid 1px;
}

